
DATABASE_URL=
NEXT_PUBLIC_API_URL=

NEXT_PUBLIC_RESEND_API_KEY=
JWT_SECRET=

LWA_CLIENT_ID=
LWA_CLIENT_SECRET=

SP_API_SANDBOX_CLIENT_ID=
SP_API_SANDBOX_CLIENT_SECRET=

SP_API_CLIENT_ID=
SP_API_CLIENT_SECRET=

SP_APPLICATION_ID=

REDIS_URL=

DIG2PAY_BASE_URL=
ULTRALINKS_ACCESS_TOKEN=